body {
  background-color: #000000;
}

h1 {
  display: block;
  margin: 0 auto;
  color: white;
  text-align: center;
  margin-top: 50px;
  font-family: Arial;
  margin-bottom: 20px;
}

.flag {
  display: inline-block;
  margin: 0 auto;
  width: 26%;
  height: 26%;
  margin-left: 80px;
  cursor: pointer;
}

@media screen and (max-width: 1030px) {

  .flag {
    width: 14%;
    height: 14%;
  }


}
